body { font-family: 'Rokkitt', serif; color: #424242; -webkit-touch-callout: none; -webkit-text-size-adjust: none; -webkit-user-select: none; -webkit-overflow-scrolling: touch; height: 100%; width: 100%; margin: 0; }
html { height: 100%; }
.foo { height: 100%; width: 100%; background: url(../img/pop_up_dark_grey_background.png) repeat; z-index: 1000; }
ul { margin: 0; padding: 0; }
a { text-decoration: none; color: #424242; display: block; }
li { list-style: none; }
.jPanelMenu { height: 100%; }
.jPanelMenu-panel { height: 100%; }
#jPanelMenu-menu { background-color: #3B3B3B; }
#jPanelMenu-menu li { background: linear-gradient(#3E3E3E, #383838); border-top: 1px solid #484848; border-bottom: 1px solid #2E2E2E; }
#jPanelMenu-menu li a { color: #fff; font-weight: normal; display: block; padding: 35px 0 35px 15px; }
.menu-trigger { background: url(../img/blue_menu_lines.png) no-repeat; height: 6%; width: 10%; float: left; background-size: 100%; position: fixed; margin: 3% 0 0 1%; z-index: 100000; cursor: pointer; }
#top { float: left; width: 100%; height: 8%; background: url(../img/top_grey_fade.png) repeat-x; background-size: cover; border-bottom: 3px solid grey; position: fixed; z-index: 10000; }
.statusContainer { height: 20px; background-color: #75c555; border-bottom: 1px solid grey; }
#headerPageTitle { float: left; font-size: 19px; margin: 12px 0 0 0; }
#headerPageTitleSmall { float: left; font-size: 18px; margin: 12px 0 0 0; }
#imgDashedWaveyLine { width: 170px; height: 20px; margin: 10px 0 0 3px; }
#imgPamphlet { height: 18px; width: 28px; margin: 13px 0 0 0; float: right; }
#topCenter { height: 100%; width: 100%; margin: 0 auto; }
#imgLogo { height: 45px; width: 45px; float: left; margin: 8px 0 0 6px; }
#topContainerWithLogoWithWords { height: 100%; width: 30%; margin: 0 auto; }
#logoWithWords { height: 100%; width: 100%; }
#topContainer { height: 96%; width: 10%; margin: 0 auto; padding: 2px 0 0 0; }
#logoWithoutWords { height: 100%; width: 100%; }
.radioTransportation { height: 18px; width: 18px; }
#radioDriving { margin: 10px 5px 0 5px; }
#radioWalking { margin: 20px 5px 0 5px; }
#radioBicycling { margin: 20px 5px 0 5px; }
#btnConfirm { width: 275px; height: 40px; border-radius: 0; border: none; margin: 25px 0 10px -5px; }
#btnCancel { width: 275px; height: 40px; border-radius: 0; border: none; background-color: #646464; margin: 0 0 0 -5px; }
#btnConfirm:enabled { background-color: #78c858; }
#btnConfirm:disabled { background-color: #646464; } 